<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WheelOfFortune.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7A2D037C1CEF590D00D4EBB3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A2D039D1CEF59F900D4EBB3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A2D03B81CEF5A2E00D4EBB3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A72FE141CEF4B7D0048CECE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
